

.Emre{
    font-size: 100px;
    font-weight: 700;
    padding: 0.5px 1px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: red;

    transition:transform 2s ease-in 0.3s;
}

.Emre:hover{
    transform: translateY(-40px);
}

@keyframes slideright{
    
    from{ transform: translateX(-300px);}

    to{transform: translateX(0px);}

}

h5{
    text-align: center;
    font-family: fantasy;
    font-size: 45px;
    font-weight: 900;
}

.biology{

    animation: slideright 3s ease-in-out 0s normal infinite both;

    transform: translateX(-150px);

}

@keyframes Slidein {

    from{
    translate: 150vw 0;
    scale: 200% 1;
    }

    to{
    translate: 0 0;
    scale: 100%;
    }
}

p{
    animation-name: Slidein;
    animation-duration: 4s;
}

p{
    padding: 0.5px 1px;
    border: 2px solid;
    border-radius: 5px;
    background-color: aquamarine;
}

.eminem{

    width: 90%;
    max-width: 1536px;
    height: 100px;
    margin-top: 10px;
    margin-inline: auto;
    overflow: hidden;
    mask-image: linear-gradient(to right,
    
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
    
    );

}


@keyframes scrollLeft{
    
    to{
        left: -200px;
    }

}


.item{

    width: 200px;
    height: 100px;
    left: max(calc(200px * 6), 100%);
    position: absolute;
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.Knight{
    animation-delay: calc(30s/6 * (6-1)*-1);
}

.spooder{
    animation-delay: calc(30s/6 * (6-1)*-1);
}

.ardilla{
    animation-delay: calc(30s/6 * (6-1)*-1);
}

.bagbug{
    animation-delay: calc(30s/6 * (6-1)*-1);
}

.ded{
    animation-delay: calc(30s/6 * (6-1)*-1);
}

.cornbread{
    animation-delay: calc(30s/6 * (6-1)*-1);
}